
body {
background: url(../img/mainbackground.jpg) no-repeat;
background-size: cover;
}

  .head {
    height: 35px;
    background-image: url(../img/background.png);
  }

  ul li {
  display: inline-block;
  float: left;
  line-height: 35px;
  }


  .topmenu {
    padding-left: 365px;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }


  .m {
  font-family: tahoma, sans-serif;
  font-size: 14px;
  }


  .topmenu li a {
  text-decoration: none;
  color: #60b5ed;
  padding: 0 15px;
   }

.sp2 a{
    color: #fff;
}

  .topmenu li a:hover {
  color: #fff;
  background: #4eabda;
  line-height: 35px;
  display: block;
  }

  .sp1 {
  display: inline-block;
  padding-top: 11px;
  padding-left: 10px;
  color: #fff;
  font-family: tahoma, sans-serif;
  font-size: 14px;
  border-left: solid 1px #56a2dc;
  width: 130px;
    }


    .sp1:before {
      content: "";
      float: left;
      background: url("../img/flag.png") no-repeat 0 6px;
      width: 25px;
      height: 27px;
      padding-left: 5px;
      margin-top: -11px;
    }



  .sp2 {
      text-align: center;
      display: inline-block;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 20px;
      margin-right: 10px;
      color: #fff;
      font-family: tahoma, sans-serif;
      font-size: 14px;
      background: url(../img/ola.png);
      background-repeat: repeat-x;
    }


      h1 {
        display: block;
        border-bottom: 2px solid #eeefed;
        font-family: tahoma, sans-serif;
        font-size: 24px;
        text-align: center;
        color: #fff;
        line-height: 64px;
        margin-bottom: 37px;
        }




    form {
      display: flex;
      flex-direction: column;
      font-family: tahoma, sans-serif;
      font-size: 14px;
      width: 560px;
      margin: auto;
      margin-top: 190px;
      margin-bottom: 190px;
      background-color: rgba(0,0,0,.7);
    }


    form hr {
      width: inherit;
    }



    form fieldset {
      align-self: center;
      border-top: solid 1px #666666;
      width: 276px;
    }



    fieldset legend {
      align: center;
      line-height: 75px;
      color: #fff;
      padding: 0 10px;
      }


    .line {
    display: block;
    margin-top: -39px;
    margin-bottom: 25px;
    }

    form > fieldset > input {
      width: 276px;
      height: 36px;
      background-color: #000;
      border: none;
      margin-bottom: 25px;
      border-bottom: solid 1px #484948;
      box-sizing: border-box;
      align-self: center;
      padding-left: 15px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      font-family: tahoma, sans-serif;
      font-size: 14px;
    }




    form > fieldset > input:focus {
      background-color: #1b5288;
      box-shadow: 0px 0px 10px 3px rgba(104,155,204,1);
    }

    article {
      width: 276px;
      align-self: center;
      margin-left: auto;
      margin-right: auto;
    }

    article label {
      font-size: 13px;
      color: #fff;
    }

    form div {
      height: 36px;
      line-height: 36px;
    }

      form div a:first-child {
        display: block;
        float: left;
        text-align: center;
        width: 39px;
        margin-left: 140px;
        background: linear-gradient(to top, #2d4478, #3a5799);
        border-radius: 5px 0 0 5px;
        border-right: 1px solid #223c6d;
        }


        form div a:last-child {
          display: block;
          float: left;
          text-align: center;
          width: 237px;
          background: linear-gradient(to top, #2d4478, #3a5799);
          border-radius: 0 5px 5px 0;
          text-decoration: none;
          color: #fff;
          font-weight: bolder;
            border-left: 1px solid #5269a5;
          }

          form div a:last-child .norm {
            font-weight: normal;
          }


    article button {
      display: block;
      width: 146px;
      line-height: 33px;
      padding: 0 15px;
      padding-left: 9px;
      color: #fff;
      border-radius: 5px;
      background-color: #ccc;
      margin: auto;
      margin-top: 25px;
      background: linear-gradient(to top, #2e7bc4, #4ca9d9);
      border: solid 1px #67c6e6;
      cursor: pointer;
      font-weight: 600;
      white-space:nowrap;
    }




    footer {
      width: 310px;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      font-size: 11px;
      margin: 25px 0;
      margin-left: auto;
      margin-right: auto;
      white-space:nowrap;
    }
